In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pyproj
import geopandas as gpd
from shapely.geometry import Point

## 新增景點

In [2]:
res = requests.get('https://shaoweiwu088.pixnet.net/blog/post/262765884-%E5%85%A8%E5%8F%B0%E6%99%AF%E9%BB%9E%E5%BA%A7%E6%A8%99%E4%BD%8D%E7%BD%AE%E5%9C%96')
res.encoding = 'UTF-8'
soup = BeautifulSoup(res.text,'html.parser')
viewpoint = soup.find_all('tr', {'style':"height:16.5pt"})

In [3]:
data_list = []
for i in viewpoint:
    data = i.text.split()
    #過濾資訊，保留景點座標等
    if len(data) == 8:
        data_list.append(data)
viewpoint_data = pd.DataFrame(data_list, columns=['景點名稱', '緯度', '經度', '縣市', '鄉鎮區', '區緯度', '區經度', '地址'])
viewpoint_data['區緯度'] = viewpoint_data['區緯度'].str.replace(',', '', regex = True)
viewpoint_data.head()

,景點名稱,緯度,經度,縣市,鄉鎮區,區緯度,區經度,地址
0,八斗子海濱,"25°08'37.0""N","121°47'58.6""E",基隆市,中山區,25.143623,121.799603,基隆市中正區八斗子
1,基隆港,"25°08'20.1""N","121°45'03.2""E",基隆市,中正區,25.138918,121.750880,基隆市中正區
2,望幽谷,"25°08'45.6""N","121°47'51.1""E",基隆市,中正區,25.146003,121.797514,基隆市中正區八斗子
3,和平島,"25°09'29.0""N","121°46'05.0""E",基隆市,中正區,25.158066,121.768055,基隆市中正區平一路360號
4,海門天險,"25°08'20.3""N","121°45'23.2""E",基隆市,中正區,25.138957,121.756437,基隆市中正區壽山路

In [4]:
train = pd.read_csv("30_Training Dataset_V2/training_data.csv")
train.head(2)

,ID,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,...,建物面積,車位面積,車位個數,橫坐標,縱坐標,備註,主建物面積,陽台面積,附屬建物面積,單價
0,TR-1,台北市,大安區,敦化南路二段,-0.256716,None,11,11,住家用,鋼筋混凝土造,...,-0.174154,-0.819326,0.0,305266,2768378,NaN,0.393926,0.183700,-0.438452,4.627714
1,TR-2,台北市,萬華區,水源路,0.100134,None,7,12,住家用,鋼筋混凝土造,...,0.314204,-0.819326,0.0,300677,2767990,NaN,-0.316131,0.608577,-0.438452,1.887258

In [5]:
def train_coordination(x):
  x1, y1 = x['橫坐標'] ,x['縱坐標']
  proj = pyproj.Transformer.from_crs(3826, 4326, always_xy=True)
  x2, y2 = proj.transform(x1, y1)
  return x2, y2

train[['lon','lat']] = train.apply(train_coordination,axis=1,result_type='expand')

In [6]:
new_train = train.drop(['橫坐標','縱坐標'], axis=1)

In [7]:
new_train.head(3)

,ID,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,...,建物面積,車位面積,車位個數,備註,主建物面積,陽台面積,附屬建物面積,單價,lon,lat
0,TR-1,台北市,大安區,敦化南路二段,-0.256716,None,11,11,住家用,鋼筋混凝土造,...,-0.174154,-0.819326,0.0,NaN,0.393926,0.183700,-0.438452,4.627714,121.547608,25.022469
1,TR-2,台北市,萬華區,水源路,0.100134,None,7,12,住家用,鋼筋混凝土造,...,0.314204,-0.819326,0.0,NaN,-0.316131,0.608577,-0.438452,1.887258,121.502124,25.019127
2,TR-3,高雄市,鳳山區,北忠街,0.181921,None,10,15,集合住宅,其他,...,0.423366,0.161624,1.0,NaN,-0.098871,-0.360620,1.525881,1.489072,120.365799,22.640966

In [9]:
viewpoint_data.loc[392]
viewpoint_data = viewpoint_data.drop(392)
viewpoint_data = viewpoint_data.reset_index(drop=True)

In [10]:
viewpoint_data.head(3)

,景點名稱,緯度,經度,縣市,鄉鎮區,區緯度,區經度,地址
0,八斗子海濱,"25°08'37.0""N","121°47'58.6""E",基隆市,中山區,25.143623,121.799603,基隆市中正區八斗子
1,基隆港,"25°08'20.1""N","121°45'03.2""E",基隆市,中正區,25.138918,121.750880,基隆市中正區
2,望幽谷,"25°08'45.6""N","121°47'51.1""E",基隆市,中正區,25.146003,121.797514,基隆市中正區八斗子

In [11]:
new_train.head(3)

,ID,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,...,建物面積,車位面積,車位個數,備註,主建物面積,陽台面積,附屬建物面積,單價,lon,lat
0,TR-1,台北市,大安區,敦化南路二段,-0.256716,None,11,11,住家用,鋼筋混凝土造,...,-0.174154,-0.819326,0.0,NaN,0.393926,0.183700,-0.438452,4.627714,121.547608,25.022469
1,TR-2,台北市,萬華區,水源路,0.100134,None,7,12,住家用,鋼筋混凝土造,...,0.314204,-0.819326,0.0,NaN,-0.316131,0.608577,-0.438452,1.887258,121.502124,25.019127
2,TR-3,高雄市,鳳山區,北忠街,0.181921,None,10,15,集合住宅,其他,...,0.423366,0.161624,1.0,NaN,-0.098871,-0.360620,1.525881,1.489072,120.365799,22.640966

In [20]:
new_train['geometry'] = [Point(xy) for xy in zip(new_train['lon'], new_train['lat'])]
new_train = gpd.GeoDataFrame(new_train, geometry='geometry')

# 設定crs座標 TWD97
viewpoint_data = gpd.GeoDataFrame(viewpoint_data, geometry=gpd.points_from_xy(viewpoint_data['區經度'], viewpoint_data['區緯度']))
viewpoint_data.crs = "EPSG:3826"
new_train.crs = "EPSG:3826"

In [21]:
# 計算附近數量的函數
def count_nearby_viewpoint(point, viewpoint_data, max_distance=500):
    nearby_viewpoint = viewpoint_data[viewpoint_data.geometry.distance(point)*101.77545*1000 < max_distance]
    return len(nearby_viewpoint)

# 使用 apply 對應所有值
new_train['viewpoint'] = new_train.geometry.apply(count_nearby_viewpoint, viewpoint_data = viewpoint_data)

## 新增設施

In [25]:
facility_data = pd.read_csv("landmark.csv")
facility_data.head(5)

  縣市代號   縣市   大類別  小類別代號 小類別名稱       地標名稱         緯度          經度
0    A  臺北市  交通運輸     11   火車站  臺北市臺鐵南港車站  25.053541  121.607264
1    A  臺北市  交通運輸     11   火車站  臺北市臺鐵松山車站  25.049244  121.578933
2    A  臺北市  交通運輸     11   火車站  臺北市臺鐵臺北車站  25.047379  121.516891
3    A  臺北市  交通運輸     11   火車站      松山火車站  25.049388  121.579563
4    A  臺北市  交通運輸     11   火車站      南港火車站  25.053683  121.606943

In [26]:
facility_data['大類別'].unique()

array(['交通運輸', '工商活動', '公共建設', '民眾服務'], dtype=object)

In [19]:
facility_data['小類別名稱'].unique()

array(['火車站', '客運站', '捷運站', '飯店', '碼頭', '高鐵站', '航空站', '主要道路建設', '國小',
       '國中', '高中', '專科', '大學及研究所', '幼稚園、托兒所', '傳統市場', '生活百貨量販', '一般公園',
       '里鄰公園', '觀光遊憩設施', '停車場地', '服務性設施', '行政機關', '醫療保健', '加油站', '百貨公司',
       '金融機構', '娛樂設施', '電力資源', '產業用水及設施', '工廠', '商店', '超級市場', '大型購物中心'],
      dtype=object)

In [27]:
# 轉換 new_train 和 facility_data 為 GeoDataFrame
new_train['geometry'] = [Point(xy) for xy in zip(new_train['lon'], new_train['lat'])]
new_train = gpd.GeoDataFrame(new_train, geometry='geometry')

# 設定crs座標 TWD97
facility_data = gpd.GeoDataFrame(facility_data, geometry=gpd.points_from_xy(facility_data['經度'], facility_data['緯度']))
facility_data.crs = "EPSG:3826"
new_train.crs = "EPSG:3826"

In [28]:
# 計算附近數量的函數
def count_nearby_facilities(point, facility_data, max_distance=500):
    nearby_facilities = facility_data[facility_data.geometry.distance(point)*101.77545*1000 < max_distance]
    return len(nearby_facilities)

# 使用 apply 對應所有值
new_train['facility'] = new_train.geometry.apply(count_nearby_facilities, facility_data = facility_data)

In [32]:
new_train.sort_values("facility", ascending = False).head(5)

,ID,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,...,備註,主建物面積,陽台面積,附屬建物面積,單價,lon,lat,geometry,viewpoint,facility
2936,TR-2937,台北市,中正區,忠孝西路一段,-1.425204,None,7,15,商業用,鋼筋混凝土造,...,NaN,-1.274284,-1.642077,-0.438452,3.620538,121.518647,25.046344,POINT (121.519 25.046),0,292
2072,TR-2073,台北市,信義區,信義路五段,0.730054,None,5,11,住家用,鋼筋混凝土造,...,NaN,1.924085,0.886710,1.186393,5.330396,121.563510,25.033090,POINT (121.564 25.033),5,220
212,TR-213,台北市,中正區,濟南路一段,-1.034947,None,2,8,住家用,鋼筋混凝土造,...,NaN,-1.790561,-1.292279,-0.197181,5.470932,121.521811,25.042460,POINT (121.522 25.042),0,217
5369,TR-5370,台北市,中正區,徐州路,1.914236,None,5,5,住家用,鋼筋混凝土造,...,NaN,1.554912,3.212442,3.543593,3.878188,121.523250,25.040423,POINT (121.523 25.040),0,214
10522,TR-10523,台北市,中正區,延平南路,-1.425180,None,12,14,住家用,鋼筋混凝土造,...,NaN,-1.708239,-1.056805,-0.438452,4.159260,121.511115,25.043960,POINT (121.511 25.044),7,211

# 國中資料

In [34]:
request_list = [
    'https://shirley.tw/112y-enroll-tcfsh-tcgs/', #中投區公立國中
    'https://shirley.tw/112y-enroll-tsh-tgsh/', #臺東區公立國中
    'https://shirley.tw/112y-tainan-exam/', #台南區公立國中
    'https://shirley.tw/112y-hsinchu-exam/', #竹苗區公立國中
    'https://shirley.tw/112y-yilan-exam/', #宜蘭區公立國中
    'https://shirley.tw/112y-hualien-exam/', #花蓮區公立國中
    'https://shirley.tw/112y-pingtung-exam/', #屏東區公立國中
    'https://shirley.tw/112y-taoyuan-exam/', #桃園區公立國中
    'https://shirley.tw/112y-enroll-kshs-kghs/', #高雄區公立國中
    'https://shirley.tw/112y-enroll-first-high-school/', #基北區公立國中
    'https://shirley.tw/112y-enroll-tlsh-hswh/', #雲林區公立國中
    'https://shirley.tw/112y-chiayi-exam/', #嘉義區公立國中
    'https://shirley.tw/112y-enroll-changhua-fhs/', #彰化區公立國中
    
]
place = [
    '中投區', '臺東區', '台南區', '竹苗區', '宜蘭區', '花蓮區', '屏東區', '桃園區', '高雄區', '基北區', '雲林區', '嘉義區', '彰化區',
]
width_list = [7, 6, 6, 7, 7, 6, 6, 7, 7, 8, 6, 6, 6]

In [35]:
def JuniorDataDelect(request_str, column_width):
    
    res = requests.get(request_str)
    soup = BeautifulSoup(res.text,'html.parser')
    zhon_zhu = soup.find_all('div', {'class':"supsystic-tables-wrap"})

    data = []
    current_row = []

    for div in zhon_zhu:
        td_elements = div.find_all('td')
        for td in td_elements:
            td_text = td.get_text(strip=True)
            current_row.append(td_text)
            if len(current_row) == column_width:
                data.append(current_row)
                current_row = []

    data_frame = pd.DataFrame(data, columns=data[0][:column_width]).iloc[1:]
    data_frame['lng'] = ''
    data_frame['lat'] = ''
    
    return data_frame

api_key = "AIzaSyDkXQ0OwfJ9CXc4gUG7tb630puYEK0e0TM"

def SearchLngLat(index, origin_data, place_name):
    
    url = f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={place_name}&inputtype=textquery&fields=geometry&key={api_key}'
    response = requests.get(url)
    data = response.json()
    
    if 'candidates' in data and len(data['candidates']) > 0:
        
        location = data['candidates'][0]['geometry']['location']
        origin_data.loc[index, "lat"] = location['lat']
        origin_data.loc[index, "lng"] = location['lng']
        
    else:
        
        origin_data.loc[index, "lat"] = 0
        origin_data.loc[index, "lng"] = 0
    
    return origin_data

def classify_rate(rate):
    
    rate = float(rate[:-1])
    if rate > 5:
        return 3
    elif 1 <= rate <= 5:
        return 2
    else:
        return 1

有些資料沒有縣市，但是校名可能相同
- 沒有縣市的資料: 1, 2, 4, 5, 6, 7, 10, 12
- 和國中名稱合併的: 3, 11
- 有縣市分開一欄的: 0, 8, 9

然後藉由google map來獲取經緯度

### 沒有縣市的資料

In [36]:
no_county = [1, 2, 4, 5, 6, 7, 10, 12]
no_county_junior_data = pd.DataFrame(columns=['畢業國中', '錄取率', 'lng', 'lat'])
for i in no_county:
    
    iter_data = JuniorDataDelect(request_list[i], width_list[i])[['畢業國中', '錄取率', 'lng', 'lat']].assign(區域 = place[i])
    
    no_county_junior_data = pd.concat([no_county_junior_data, iter_data])
no_county_junior_data = no_county_junior_data.reset_index(drop=True)

In [37]:
for i in range(0, no_county_junior_data.shape[0]):
    
    no_county_junior_data = SearchLngLat(i, no_county_junior_data, no_county_junior_data['區域'][i] + no_county_junior_data['畢業國中'][i])

In [38]:
no_county_junior_data = no_county_junior_data[no_county_junior_data['錄取率'] != ""].reset_index(drop=True)

In [39]:
no_county_junior_data['level'] = no_county_junior_data['錄取率'].apply(classify_rate)
no_county_junior_data.head(3)

   畢業國中     錄取率         lng        lat   區域  level
0  新生國中  48.21%  121.135409  22.762042  臺東區      3
1  東海國中  41.18%  121.148696  22.746019  臺東區      3
2  寶桑國中  34.02%  121.144903  22.769555  臺東區      3

### 縣市和校名合併的資料

In [40]:
connected = [3, 11]
connected_junior_data = pd.DataFrame(columns=['畢業國中', '錄取率', 'lng', 'lat'])

for i in connected:
    
    iter_data = JuniorDataDelect(request_list[i], width_list[i])[['畢業國中', '錄取率', 'lng', 'lat']].assign(區域 = place[i])
    connected_junior_data = pd.concat([connected_junior_data, iter_data])
connected_junior_data = connected_junior_data.reset_index(drop=True)

connected_junior_data.head(3)

           畢業國中     錄取率 lng lat   區域
0       新竹市培英國中  19.03%          竹苗區
1  新竹市私立曙光女中國中部                  竹苗區
2  新竹縣私立義民高中國中部                  竹苗區

In [41]:
for i in range(0, connected_junior_data.shape[0]):
    
    connected_junior_data = SearchLngLat(i, connected_junior_data, connected_junior_data['區域'][i] + connected_junior_data['畢業國中'][i])
    
connected_junior_data = connected_junior_data[connected_junior_data['錄取率'] != ""].reset_index(drop=True)

In [42]:
connected_junior_data['level'] = connected_junior_data['錄取率'].apply(classify_rate)
connected_junior_data.head(3)

      畢業國中     錄取率         lng        lat   區域  level
0  新竹市培英國中  19.03%   120.97314  24.803997  竹苗區      3
1  新竹縣成功國中  22.08%  121.017258  24.819008  竹苗區      3
2  新竹市三民國中  15.15%  120.980272  24.811908  竹苗區      3

### 分開縣市為一欄的資料

In [43]:
separate = [0, 8, 9]
separate_junior_data = pd.DataFrame(columns=['縣市','畢業國中', '錄取率', 'lng', 'lat'])

for i in separate:
    
    iter_data = JuniorDataDelect(request_list[i], width_list[i])[['縣市','畢業國中', '錄取率', 'lng', 'lat']].assign(區域 = place[i])
    separate_junior_data = pd.concat([separate_junior_data, iter_data])
separate_junior_data = separate_junior_data.reset_index(drop=True)

separate_junior_data.head(3)

    縣市  畢業國中    錄取率 lng lat   區域
0  南投縣  中興國中  6.20%          中投區
1  南投縣  宏仁國中  3.51%          中投區
2  南投縣  埔里國中  3.37%          中投區

In [44]:
for i in range(0, separate_junior_data.shape[0]):
    
    separate_junior_data = SearchLngLat(i, separate_junior_data, separate_junior_data['縣市'][i] + separate_junior_data['畢業國中'][i])
    
separate_junior_data = separate_junior_data[separate_junior_data['錄取率'] != ""].reset_index(drop=True)

In [45]:
separate_junior_data['level'] = separate_junior_data['錄取率'].apply(classify_rate)
separate_junior_data.head(3)

    縣市  畢業國中    錄取率         lng        lat   區域  level
0  南投縣  中興國中  6.20%  120.693658  23.931569  中投區      3
1  南投縣  宏仁國中  3.51%  120.972815  23.961385  中投區      2
2  南投縣  埔里國中  3.37%   120.96847  23.968138  中投區      2

In [46]:
print(no_county_junior_data.shape)
print(connected_junior_data.shape)
print(separate_junior_data.shape)

(291, 6)
(99, 6)
(204, 7)

In [47]:
junior_full_data = pd.concat([no_county_junior_data[["畢業國中", "lng", "lat", "level"]], 
           connected_junior_data[["畢業國中", "lng", "lat", "level"]], 
           separate_junior_data[["畢業國中", "lng", "lat", "level"]]])

In [48]:
junior_full_data.head()

   畢業國中         lng        lat  level
0  新生國中  121.135409  22.762042      3
1  東海國中  121.148696  22.746019      3
2  寶桑國中  121.144903  22.769555      3
3  關山國中  121.159828  23.045118      3
4  新港國中  121.376438  23.101292      3

## 私立國中(基北)

In [49]:
res = requests.get('https://shirley.tw/111y-enroll-first-high-school/')
res.encoding = 'UTF-8'
soup = BeautifulSoup(res.text,'html.parser')
private = soup.find_all('div', {'class':"supsystic-tables-wrap"})

In [50]:
data = []
current_row = []

for div in private:
    td_elements = div.find_all('td')
    for td in td_elements:
        td_text = td.get_text(strip=True)
        current_row.append(td_text)
        if len(current_row) == 8:
            data.append(current_row)
            current_row = []

full_north_private_junior = pd.DataFrame(data, columns=data[0][:8]).iloc[1:]
full_north_private_junior = full_north_private_junior[full_north_private_junior['畢業國中'].str.contains("私立")].reset_index(drop=True)[['縣市', '畢業國中', '錄取率']]
full_north_private_junior = full_north_private_junior[full_north_private_junior['錄取率'] != ""].reset_index(drop=True)[['縣市', '畢業國中', '錄取率']]

In [52]:
for i in range(0, full_north_private_junior.shape[0]):
    
    full_north_private_junior = SearchLngLat(i, full_north_private_junior, full_north_private_junior['縣市'][i] + full_north_private_junior['畢業國中'][i])

In [53]:
full_north_private_junior['level'] = full_north_private_junior['錄取率'].apply(classify_rate)
full_north_private_junior.head(3)

    縣市         畢業國中     錄取率        lat         lng  level
0  新北市  私立裕德實驗高中國中部  23.29%  24.982692  121.439943      3
1  新北市    私立南山高中國中部   7.24%  25.001160  121.504357      3
2  新北市    私立恆毅高中國中部   2.09%  25.036654  121.453732      2

In [54]:
junior_full_data = pd.concat([full_north_private_junior[['畢業國中', 'lat', 'lng', 'level']], junior_full_data])

In [55]:
junior_full_data = junior_full_data.reset_index(drop=True)

## 判斷所有國中及每間房的距離和分級

In [56]:
junior_full_data['geometry'] = [Point(xy) for xy in zip(junior_full_data['lng'], junior_full_data['lat'])]
junior_full_data = gpd.GeoDataFrame(junior_full_data, geometry='geometry')
new_train = gpd.GeoDataFrame(new_train, geometry=gpd.points_from_xy(new_train['lon'], new_train['lat']))
junior_full_data.crs = "EPSG:3826"
new_train.crs = "EPSG:3826"

In [57]:
junior_full_data

            畢業國中        lat         lng  level                geometry
0    私立裕德實驗高中國中部  24.982692  121.439943      3  POINT (121.440 24.983)
1      私立南山高中國中部   25.00116  121.504357      3  POINT (121.504 25.001)
2      私立恆毅高中國中部  25.036654  121.453732      2  POINT (121.454 25.037)
3      私立竹林高中國中部  24.980893  121.506418      3  POINT (121.506 24.981)
4      私立辭修高中國中部  24.932703  121.407914      2  POINT (121.408 24.933)
..           ...        ...         ...    ...                     ...
607         武崙國中  25.137774  121.706204      2  POINT (121.706 25.138)
608         建德國中  25.126198  121.721451      2  POINT (121.721 25.126)
609         碇內國中  25.096044  121.748908      2  POINT (121.749 25.096)
610         信義國中  25.129523  121.768478      2  POINT (121.768 25.130)
611      安樂高中國中部  25.135146  121.729976      1  POINT (121.730 25.135)

[612 rows x 5 columns]

In [58]:
# 計算附近數量的函數
def count_nearby_junior(point, target_data, max_distance = 500):
    nearby_junior = target_data[target_data.geometry.distance(point)*101.77545*1000 < max_distance]
    return len(nearby_junior)

# 使用 apply 對應所有值
new_train['國中(高)'] = new_train.geometry.apply(count_nearby_junior, target_data = junior_full_data[junior_full_data['level'] == 3])
new_train['國中(中)'] = new_train.geometry.apply(count_nearby_junior, target_data = junior_full_data[junior_full_data['level'] == 2])
new_train['國中(下)'] = new_train.geometry.apply(count_nearby_junior, target_data = junior_full_data[junior_full_data['level'] == 1])

In [62]:
new_train.sort_values(by= "facility", ascending = False).head(20)

,ID,縣市,鄉鎮市區,路名,土地面積,使用分區,移轉層次,總樓層數,主要用途,主要建材,...,附屬建物面積,單價,lon,lat,geometry,viewpoint,facility,國中(高),國中(中),國中(下)
4132,TR-4133,台北市,大安區,信義路三段,2.298797,None,22,29,住家用,鋼骨造,...,1.335853,11.232917,121.535897,25.034023,POINT (121.536 25.034),0,69,3,0,0
9211,TR-9212,台北市,大安區,新生南路一段,0.489286,None,3,5,住家用,鋼筋混凝土造,...,-0.438452,3.925033,121.535203,25.034079,POINT (121.535 25.034),0,70,3,0,0
4121,TR-4122,台北市,大安區,敦化南路一段,0.335159,None,4,12,商業用,鋼筋混凝土造,...,1.141555,4.065570,121.548876,25.033659,POINT (121.549 25.034),0,67,3,0,0
9147,TR-9148,台北市,文山區,三福街,0.007028,None,2,7,住家用,鋼筋混凝土造,...,-0.116045,2.613362,121.542198,24.997725,POINT (121.542 24.998),0,46,3,1,0
6210,TR-6211,台北市,文山區,景華街,0.631468,None,4,5,住家用,鋼筋混凝土造,...,-0.438452,2.472826,121.546745,24.995469,POINT (121.547 24.995),1,34,3,1,0
6363,TR-6364,台北市,文山區,景華街,0.670114,None,2,4,集合住宅,鋼筋混凝土造,...,-0.438452,2.660207,121.546087,24.996736,POINT (121.546 24.997),1,40,3,1,0
9493,TR-9494,台北市,文山區,景興路,1.719396,None,2,4,住家用,鋼筋混凝土造,...,-0.438452,2.589939,121.545337,24.997379,POINT (121.545 24.997),0,46,3,1,0
3523,TR-3524,台北市,大安區,敦化南路一段,0.053870,None,3,7,住家用,鋼筋混凝土造,...,-0.438452,4.159260,121.549907,25.033655,POINT (121.550 25.034),0,69,3,0,0
10670,TR-10671,台南市,東區,林森路一段,1.671857,None,13,26,集合住宅,鋼筋混凝土造,...,-0.438452,1.863835,120.221672,22.984424,POINT (120.222 22.984),0,57,3,0,0
5079,TR-5080,台北市,大安區,安和路一段,0.745267,商,2,6,住家用,鋼筋混凝土造,...,-0.438452,4.065570,121.551118,25.034138,POINT (121.551 25.034),0,68,3,0,0
11183,TR-11184,桃園市,平鎮區,環南路,-0.271785,None,8,11,住家用,鋼筋混凝土造,...,-0.438452,0.940981,121.207317,24.950249,POINT (121.207 24.950),0,17,2,0,0
4428,TR-4429,新北市,中和區,工專路,-0.456964,住,2,14,集合住宅,鋼筋混凝土造,...,0.533039,2.191753,121.507718,24.979402,POINT (121.508 24.979),0,12,2,0,0
7993,TR-7994,台北市,大安區,安和路二段,0.163391,None,14,19,住家用,鋼骨造,...,-0.438452,4.182683,121.552401,25.030784,POINT (121.552 25.031),0,66,2,0,0
3200,TR-3201,台北市,北投區,自強街,0.131282,None,4,14,住家用,鋼筋混凝土造,...,0.185010,3.456579,121.515883,25.110462,POINT (121.516 25.110),0,23,2,0,0
6615,TR-6616,新北市,中和區,華新街,0.168486,None,2,4,住家用,加強磚造,...,-0.438452,1.582763,121.506835,24.981572,POINT (121.507 24.982),0,24,2,0,1
10140,TR-10141,桃園市,桃園區,慈文路,0.058797,None,4,7,住家用,鋼筋混凝土造,...,1.128744,1.348536,121.303370,25.009301,POINT (121.303 25.009),0,16,2,0,0
11115,TR-11116,台南市,東區,崇仁街,-0.931747,None,12,14,住家用,鋼筋混凝土造,...,-0.235613,1.924734,120.223089,22.984007,POINT (120.223 22.984),0,47,2,0,0
3130,TR-3131,台北市,文山區,興隆路一段,1.049364,住,2,4,集合住宅,鋼筋混凝土造,...,-0.438452,2.332290,121.543583,24.999498,POINT (121.544 24.999),0,39,2,1,0
9356,TR-9357,台北市,大安區,安和路二段,-0.053632,None,13,25,住家用,鋼筋混凝土造,...,-0.438452,5.002478,121.550729,25.029211,POINT (121.551 25.029),0,76,2,0,0
11113,TR-11114,新北市,中和區,興南路二段,2.086388,住,5,5,住家用,鋼筋混凝土造,...,-0.438452,1.559340,121.503441,24.982432,POINT (121.503 24.982),0,13,2,0,0

# 額外提供資料

In [73]:
prefix = "30_Training Dataset_V2/external_data/"
external_data_list = [
    "大學基本資料.csv", "公車站點資料.csv", "火車站點資料.csv", "金融機構基本資料.csv", "便利商店.csv", "高中基本資料.csv",
    "國小基本資料.csv", "國中基本資料.csv", "捷運站點資料.csv", "郵局據點資料.csv", "腳踏車站點資料.csv", "腳踏車站點資料.csv", "腳踏車站點資料.csv",]

### 處理國中資料

In [79]:
external_junior = pd.read_csv(prefix + external_data_list[7])
print(external_junior.shape)
external_junior.head(3)

(965, 21)

,縣市代碼,縣市名稱,學校代碼,學校名稱,班級數7年級,班級數8年級,班級數9年級,學生數7年級男,學生數7年級女,學生數8年級男,...,學生數9年級男,學生數9年級女,上學年男畢業生,上學年女畢業生,男專任教師,女專任教師,男職員,女職員,lat,lng
0,1,新北市,10301,國立華僑中學,1,1,1,2,2,5,...,9,11,9,16,0,0,0,0,25.007500,121.447778
1,1,新北市,11301,私立淡江高中附設國中部,7,7,8,161,127,152,...,161,130,153,143,0,0,0,0,25.176251,121.437164
2,1,新北市,11302,私立康橋實驗高中附設國中部,11,11,8,153,156,173,...,157,137,143,160,0,0,0,0,25.079564,121.395793

In [ ]:
 external_junior.loc[external_junior['學校名稱'] == '中正國中']

In [112]:
new_external_junior = external_junior[["縣市名稱","學校名稱","lat","lng"]]
new_external_junior.head(3)

  縣市名稱           學校名稱        lat         lng
0  新北市         國立華僑中學  25.007500  121.447778
1  新北市    私立淡江高中附設國中部  25.176251  121.437164
2  新北市  私立康橋實驗高中附設國中部  25.079564  121.395793

In [105]:
new_external_junior.loc[:, '學校名稱'] = new_external_junior['學校名稱'].str.replace('國立', '').str.replace('市立', '').str.replace('縣立', '').str.replace('私立', '')
new_external_junior

/var/folders/w2/_g9w5yys0f171q4qqm469z1h0000gn/T/ipykernel_39221/841509080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_external_junior.loc[:, '學校名稱'] = new_external_junior['學校名稱'].str.replace('國立', '').str.replace('市立', '').str.replace('縣立', '').str.replace('私立', '')

            學校名稱        lat         lng
0           華僑中學  25.007500  121.447778
1      淡江高中附設國中部  25.176251  121.437164
2    康橋實驗高中附設國中部  25.079564  121.395793
3      金陵女中附設國中部  25.042990  121.466942
4    裕德實驗高中附設國中部  24.983012  121.439480
..           ...        ...         ...
960      介壽國中(小)  26.160519  119.950072
961      中正國中(小)  22.672100  120.508629
962         中山國中  26.224295  119.980659
963      敬恆國中(小)  25.970632  119.933677
964      東引國中(小)  26.368098  120.488579

[965 rows x 3 columns]